*{
  padding: 0;
  margin: 0;

}
body{
  background: #f0dbaf;
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow: hidden;
  color: #f0dbaf;


}
#container{
  width: 80%;
  margin: 20px auto;
  min-height: 650px;
  margin-top: 150px;
  color: black;
}
@media screen and (max-width: 400px) {
  #container {
    width: 100%;
    margin:50% auto;
    min-height: 800px;
  }

}
.wrapper{
position: fixed;
}
.box div{
position: fixed;
width: 60px;
height: 60px;
background-color:transparent;
border: 6px solid rgba(255,255,255,0.8);
}
.box img{
  position: fixed;
  width: 60px;
  height: 60px;
  background-color:transparent;
  border: 6px solid rgba(255,255,255,0.8);
  }
.box div:nth-child(1){
top: 12%;
left: 42%;
border: 6px solid blue;
animation: animate 10s linear infinite;
}
.box div:nth-child(2){
top: 70%;
left: 50%;
border: 6px solid pink;
animation: animate 7s linear infinite;
}
.box div:nth-child(3){
top: 17%;
left: 6%;
border: 6px solid greenyellow;
animation: animate 9s linear infinite;
}
.box div:nth-child(4){
top: 20%;
left: 60%;
border: 6px solid red;
animation: animate 10s linear infinite;
}
.box div:nth-child(5){
top: 67%;
left: 10%;
border: 6px solid yellow;
animation: animate 6s linear infinite;
}
.box div:nth-child(6){
top: 80%;
left: 70%;
border: 6px solid plum;
animation: animate 12s linear infinite;
}
.box div:nth-child(7){
top: 60%;
left: 80%;
border: 6px solid cyan;
animation: animate 15s linear infinite;
}
.box div:nth-child(8){
top: 32%;
left: 25%;
border: 6px solid orchid;
animation: animate 16s linear infinite;
}
.box div:nth-child(9){
top: 90%;
left: 25%;
border: 6px solid mediumseagreen;
animation: animate 9s linear infinite;
}
.box div:nth-child(10){
top: 20%;
left: 80%;
border: 6px solid blueviolet;
animation: animate 5s linear infinite;
}
@keyframes animate{
0%{
  transform: scale(0);
  opacity: 1;
}
100%{
  transform: scale(1.3);
  opacity: 0;
}
}